target
.idea
*.iml
*.iws
/mobile2/www

node
node_modules

mobile2/.vs
mobile2/bin
mobile2/*.user
mobile2/*.suo
mobile2/*.sln
mobile2/*.jsproj
mobile2/taco.json
mobile2/Debug
mobile2/platforms
mobile2/plugins
